# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
NODE_ENV=development
DATABASE_URL=___
ACCESS_TOKEN_SECRET=__
ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_SECRET=__
REFRESH_TOKEN_EXPIRES_IN=__

GOOGLE_CLIENT_ID=__
GOOGLE_CLIENT_SECRET=__
GOOGLE_CALLBACK_URL=___
GOOGLE_CALLBACK_WEB_URL=____